In [1]:
# The code was removed by Watson Studio for sharing.

,Unnamed: 0,Unnamed: 1,SUBJECT:,ENGLISH LANGUAGE,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,MATHEMATICS,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,S/NO.,EXAM NUM,NAME,CA,EXAM,TOAL,GRADE,REMARKS,CA,EXAM,...,TOTAL,GRADE,REMARKS,CA TOTAL,EXAM TOTAL,TOTAL MARKS,POSITION,PRINCIPAL CM,AVR SCORE,SUFFIX
1,1,SCI/299,ABBAS MUHAMMAD,15,15,30,F9,FAIL,23,34,...,47,D7,PASS,178,355,533,36,PLEASE IMPROVE ON YOUR GRADES,59.222222,th
2,2,SCI/300,ABDULRASHID ALIYU,19,34,53,C6,CREDIT,25,51,...,62,B3,GOOD,162,461,623,15,A BETTER PERFORMANCE PLEASE KEEP IT UP,69.222222,th
3,3,SCI/301,ABUBAKAR IBAHIM,20,40,60,B3,GOOD,29,60,...,60,B3,GOOD,202,502,704,6,GOOD RESULT PLEASE KEEP IT UP,78.222222,th
4,4,SCI/302,ABUBAKAR ISMAIL,20,48,68,B2,VERY GOOD,37,56,...,80,A1,EXCELLENT,221,543,764,2,AN EXCELLENT RESULT PLEASE KEEP IT UP,84.888889,nd